body {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#lay_main {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.lay_item2 {
    margin-left: 40px;
}

.lay_item3 {
    color: blue;
    margin-left: auto;
}

.main_box {
    display: flex;
    flex-direction: row;
}

#img_index {
    max-width: 440px;
    min-width: 360px;
    margin-bottom: 40px;
}

#img_index_size {
    max-height: 200px;
    max-width: auto; 
}

#img_list {
    align-self: flex-start;
    float: left;
    max-width: 500px;
    min-width: 360px;
    max-height: auto;
}

#no_image_index {
    background-color: rgb(245, 245, 245);
    color: darkgray;
    width: 400px;
    height: 200px;
    text-align: center;
    padding-top: 80px; 
}


#no_image {
    max-width: 560px;
    min-width: 360px;
    max-height: 600px;
    min-height: 360px;
    background-color: rgb(245, 245, 245); 
    color: darkgray; 
    width: 400px; 
    height: 400px;
    text-align: center;
    padding-top: 200px;
    text-decoration: none;
}

#desc_list {
    width: 100%;
    margin-left: 30px;
}

.small_text {
    font-size: small;
}

.top_margin {
    margin-top: 15px;
}

.input-m {
    width: 520px;
}