body {
    padding: 20px;
}

#lay_main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lay_item {
    margin-left: 40px;
}

.lay_item3 {
    color: blue;
    margin-left: auto;
}
