{% extends "auctions/layout.html" %}

{% block body %}
    Category: {{ listing.category }} | m
    {% if listing.active == True %}
        <p style="display: inline; color:blue;">Status: Active</p>
    {% else %}
        <p style="color:red;">Status: Closed</p>
    {% endif %}
    <div class="main_box">
            {% if listing.image_url %}
                <img id="img_list" src="{{ listing.image_url }}">
            {% else %}
                <div id="no_image">No Image</div>
            {% endif %}
        <div id="desc_list">
            <div>
                <h2>{{ listing.title }}</h2>
            </div>
            <div>
                <p>Description: {{ listing.description }}</p>
            </div>
            <div class="top_margin">
                Price: <h4 style="display:inline;">$ {{ listing.price }}</h4>
            </div>
            <div>
                {% if user.is_authenticated %}
                    {% if user in listing.watchlist.all %}
                        <form action="{% url 'remove_watch' listing_id=listing.id %}" method="POST">
                            {% csrf_token %}
                            <button class="small_text top_margin" type="submit">Remove from Watchlist</button>
                        </form>
                    {% else %}
                        <form action="{% url 'add_watch' listing_id=listing.id %}" method="POST">
                            {% csrf_token %}
                            <button class="small_text top_margin" type="submit">Add to Watchlist</button>
                    </form>
                    {% endif %}
                {% endif %}
            </div>
            <div class="small_text top_margin">Created by: {{ listing.creator }} on {{ listing.created}}</div>
    </div>
{% endblock %}