{% extends "auctions/layout.html" %}

{% block body %}
    {% if listing.active == True %}
        <p style="color:blue;">Status: Active</p>
    {% else %}
        <p style="color:red;">Status: Closed</p>
    {% endif %}
    <div class="main_box">
            {% if listing.image_url %}
                <img id="img_list" src="{{ listing.image_url }}">
            {% else %}
                <div id="no_image">No Image</div>
            {% endif %}
        <div id="desc_list">
            <div>
                <h2>{{ listing.title }}</h2>
            </div>
            <div>
                <p>Description: {{ listing.description }}</p>
            </div>
            <div class="top_margin">
                Price: <h4 style="display:inline;">$ {{ listing.price }}</h4>
            </div>
            <div class="small_text top_margin">Created by: {{ listing.creator }} on {{ listing.created}}</div>
    </div>
{% endblock %}