{% extends "auctions/layout.html" %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    Category: {{ listing.category }} | 
    {% if listing.active == True %}
        <p style="display: inline; color:blue;">Status: Active</p>
    {% else %}
        <p style="display: inline; color:red;">Status: Closed</p>
    {% endif %}
    <div class="main_box">
        {% if listing.image_url %}
            <img id="img_list" src="{{ listing.image_url }}">
        {% else %}
            <div id="no_image">No Image</div>
        {% endif %}
        <div id="desc_list">
            <div>
                <h2>{{ listing.title }}</h2>
            </div>
            <div>
                <p>Description: {{ listing.description }}</p>
            </div>
            <div class="top_margin">
                {% if bidding.bid is None %}
                    Price: <h4 style="display:inline;">$ {{ listing.price }}</h4>
                {% else %}
                    Price: <h4 style="display:inline;">$ {{ bidding.bid }}</h4>
                {% endif %}
            </div>
        {% if user.is_authenticated %}
            {% if listing.active == True %}
                {% if user == listing.creator %}
                    <div>
                        <form action="{% url 'close' listing_id=listing.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger top_margin">Close auction</button>
                        </form>
                    </div>
                {% else %}
                    <div class="top_margin">    
                        <form action="{% url 'add_bid' listing_id=listing.id %}" method="POST">
                            {% csrf_token %}
                            <div>
                                <input type="number" name="new_bid_price" min="0.00" max="999999.99" step="0.01" placeholder="New bid">
                                <input type="submit" value="Place bid">
                            </div>
                        </form>
                    </div>
                {% endif %}
                    <p class="small_text top_margin">{{ listing.bids }} bids so far. Last bidder: {{ listing.current_bidder }}</p>
                    <div>
                        {% if user in listing.watchlist.all %}
                            <form action="{% url 'remove_watch' listing_id=listing.id %}" method="POST">
                                {% csrf_token %}
                                <button class="small_text top_margin" type="submit">Remove from Watchlist</button>
                            </form>
                        {% else %}
                            <form action="{% url 'add_watch' listing_id=listing.id %}" method="POST">
                                {% csrf_token %}
                                <button class="small_text top_margin" type="submit">Add to Watchlist</button>
                            </form>
                        {% endif %}
                    </div>
            {% else %}
                {% if user == listing.current_bidder %}
                <h5 class="top_margin">Congratulations, you won the auction!</h5>
                {% else %}
                    <h5 class="top_margin">This auction is closed! {{ listing.current_bidder }} won the auction.</h5>
                {% endif %}
            {% endif %}
        {% endif %}
            <div class="small_text top_margin">Created by: {{ listing.creator }} on {{ listing.created}}</div>
        </div>
    </div>
    <div>
        <h5 class="top_margin">Comments</h5>
        <div>
            {% if user.is_authenticated %}
                {% if listing.active == True %}
                    <form action="{% url 'add_comment' listing_id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <div >
                            <input autofocus type="text" name="comment" placeholder="Type your comment" class="input-m">
                            <input type="submit" value="Add comment">
                        </div>
                {% endif %}
            {% endif %}
            <div>
                {% for comment in comments %}
                    <div>
                        <br>
                        {{ comment.comment }}
                    </div>
                    <div class="small_text">
                        Created by {{ comment.author }} on {{ comment.created }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}